
 body {
    font-family: New Roman, Helvetica, sans-serif;
    margin: 20px;
 } 
 #header-nav { 
  background-color: lightsalmon;
  border-radius: 2;
  border: 10px;
  min-height: 120px;
}
.navbar-brand{
  padding-top: 40px;
}
.navbar-brand h1{
  color: Brown; 
  font-family: New roman, Helvetica, sans-serif;
  font-size: 1.8em;
  text-transform: uppercase; 
  text-aline: center;
   margin-top: 7px; 
  margin-bottom: 0; 
   line-height: .75; 
}
